.active {
    background-color: #424242 !important;
    color: rgb(147, 147, 238) !important;
}

.form-container {
    div {
        max-width: 800px;
        background-color: #c8d4ca !important;
        border-radius: 5px !important;
        padding: 50px;
        text-align: center;
    }

    margin: 0 auto !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    height: 100vh !important;
}